.black {
    background: black;
    color: white; 
}
.white {
    background: white; 
    color: black;
}

body {
    padding-bottom: 40px !important;
    display: flex;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-right-far {
    display: flex;
    justify-content: flex-end;
    margin: 5px 12.5% 5px 0;
}

.left, .right {
    width: 25%;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.center {
    width: 50% !important;
}

.border {
    border: 10px solid black;
    border-radius: 20px;
    background: white;
    padding: 50px 0;
}

.site-title {
    text-align: center;
    padding: 35px 0;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
}

.little-title {
    font-size: 50px;
    margin-top: -25px;
}

#day-mode {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif !important;
    font-size: 13px;
    color: black;
}

.title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700 !important;
}

.you, .local {
    margin-top: 50px !important;
}

.message-body {
    width: 75%;
    background-color: #fcfcfc !important;
    font-style: italic;
}

.notification {
    background-color: #efefef !important;
    margin-bottom: 15px !important;
    color: black;
}

.what {
    margin: 5px 0 0 5px;
}

#joke, #joke-name {
    text-align: center;
}

#joke-name {
    margin-top: 22px;
}

#loader-joke-name {
    margin: 20px 0;
}

.blockquote::before {
    font-family: FontAwesome;
    content: '\f10d';
    margin-right: 10px;
}

.blockquote::after {
    font-family: FontAwesome;
    content: '\f10e';
    margin-left: 10px;
}

#paste, #paste-name {
    margin-right: 2px;
}

.input {
    width: 200px !important;
    margin-right: 5px;
}

.title-joke {
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 3px;
    margin: 0 38% !important;
}

#local-storage {
    width: 75%;
    text-align: center;
}

.fade {
    animation: fadeInOut 2s linear forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0.4; }
    50% { opacity: 1; } 
    100% { opacity: 0.4; } 
}

#mood {
    margin: 5px;
}
/* .img-ck {
    position: absolute;
}

.img-ck img {
    max-height: 330px;
} */
